:host.app-component {
	display: flex;
	height: 100%;

	.sidenav-content {
		display: flex;
		flex-direction: column;
		height: 100%;

		.routed-component {
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: 0 20px;
		}
	}

	.drawer-container {
		height: 100%;
		width: 100%;
	}

	.sidenav {
		display: flex;
		padding: 20px 0;
		width: 250px;
	}
}
