@use "@angular/material" as mat;

$custom-typography: mat.define-typography-config(
	$font-family: "Nunito",
	$body-1: mat.define-typography-level(18px, 1, 500),
	$body-2: mat.define-typography-level(14px, 1, 500),
	$button: mat.define-typography-level(14px, 1.25, bold),
);

@include mat.all-component-typographies($custom-typography);

html,
body {
	height: 100%;
}

body {
	margin: 0;
}
